<div class="col-12">Registro de cuenta</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Nombre</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese su nombre">
</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Apellido</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese su apellido">
</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Mail</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese su mail">
</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Usuario</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese un Usuario">
</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Contraseña</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese una contraseña">
</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Repetir Contraseña</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Repita la contraseña">
</div>